html {
    background-color: #26A69A;
}

.fullscreen {
    width: 100%; height: 100%;
    top: 0; left: 0;
    position: absolute;
}

#sun-moon-layer {
    z-index: 2;
}

#sun-moon {
    position: absolute;
    top: 10%;
    right: 16%;
    height: 13%;
}

.grass {
    z-index: 3;
    width: 100%; height: 50%;
    top: 50%; left: 0;
    position: absolute;
    background: url('./assets/images/svg/grass.svg') repeat repeat;
    background-size: contain;
}

.stars {
    z-index: 1;
    height: 50%;
}

.star {
    width : 1%;
}